@media screen and (max-width: 768px) {
  p {
    font-size: 18px;
  }

  .title-container > h1 {
    font-size: 30px;
  }

  .market, .solution, .content, .data, .sources {
    padding: 0 30px;
  }

  .right-line {
    display: none;
  }

  .data, .market {
    margin-top: -70px;
  }

  #wave-2 {
    background-position: center 300px;
  }

  #wave-4 {
    padding: 50px 0;
    background-size: cover;
  }

  .content .blue-container {
    width: 70%;
  }

  .ocean-line, .whale-line {
    display: none;
  }
}

@media screen and (max-width: 992px){
  .diagram-container > .row {
    margin: -50px 0 30px 0;
  }
}

@media screen and (min-width: 1152px){
  #cover-image {
    background-position: center -65px;
  }
}