@import './modules/variables';
@import './components/shapes';
@import './components/text';
@import './components/charts';
@import  './modules/_queries.scss';

body {
  background-color: white;
  font-family: "Lato";
  margin: 0;
}